<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x930073498.boat">

    <application>
        <provider
            android:name=".BoatProvider"
            android:authorities="com.x930073498.boat"
            android:exported="false" />
    </application>
</manifest>
